@font-face {
  font-family: "Dancing script";
  src: url(./asset/DancingScript-VariableFont_wght.ttf);
}
:root {
  --background-color: rgb(1, 1, 16);
  --font-color: #efefefc6;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  /* 222b35 */
}
/* nav styling starts here */
nav {
  /* background-color:red ; */
  width: 100%;
  height: 80px;
  display: flex;
}
.left {
  /* background-color:aqua ; */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Dancing script";
  color: var(--font-color);
}
.ro {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--font-color);
  font-family: "Dancing script";
  letter-spacing: 5px;
}
.left:hover > .ro {
  animation: rotate 1s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(200deg);
    /* transform:translatey(-200px); */
  }
  100% {
    transform: rotate(360deg);
    /* transform:translatey(200px); */
  }
}
.middle {
  flex-grow: 1;
  /* background-color:hotpink ; */
}
.right {
  height: 100%;
  width: 40%;
  /* background-color:aqua ; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 8%;
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color);
}
.right > div > a {
  color: currentColor;
  text-decoration: none;
  text-transform: capitalize;
}
.right > div > :hover {
  color: rgb(255, 0, 162);
}

.right > div > i {
  display: none;
}
section {
  height: calc(100% - 80px);
  width: 100%;
  /* background-color: red; */
  display: flex;
}
.asideLeft {
  height: 100%;
  width: 60%;
  /* background-color: aqua; */
  padding: 50px 20px;
}
.asideLeft > div {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  justify-content: center;
  gap: 5px;
}
.asideLeft > div > div > h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}
.asideLeft > div > div > h3 {
  font-size: 26px;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.asideLeft > div > div > h3 > span {
  display: inline-block;
  width: 50%;
  padding-top: 8px;
}
.letter {
  fill: transparent;
  animation: filling 1s infinite;
}
.letter:first-child {
  animation-delay: 0s;
}
.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}
.letter:nth-child(8) {
  animation-delay: 0.8s;
}
@keyframes filling {
  to {
    fill: rgb(255, 0, 162);
  }
}
.asideLeft > div > div > p {
  color: white;
}
.asideRight {
  height: 100%;
  width: 40%;
  /* background-color: hotpink; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 125px 100px; */
}
.asideRight > div {
  height: 250px;
  width: 250px;
  position: relative;
  /* background-color: red; */
  /* padding: 100px 100px;
    background-image: url(./assets/images/profile.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; */
  /* border-top: 5px solid lime;
    border-bottom: 5px solid lime;
    animation: rotate 1s linear infinite; */
}

.asideRight > div > div {
  height: 100%;
  width: 100%;
  padding: 20px;
  /* background-image: url(./assets/images/profile.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
  border-radius: 50%;
  /* border-top: 5px solid lime;
    border-bottom: 5px solid lime; */
  /* animation: rotate 1s linear infinite; */
  position: absolute;
  /* inset: 0; */
  /*  background-image: conic-gradient(lime,white,white,lime,white,white); */
}

.asideRight > div > div::before {
  position: absolute;
  inset: 0;
  content: "";
  height: 98%;
  width: 98%;
  background-color: black;
  border-radius: 50%;
  background-image: url(./asset/profile.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.asideRight > div > div::after {
  content: "";
  bottom: 1%;
  right: 1%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-image: conic-gradient(
    rgb(255, 0, 162),
    transparent,
    transparent,
    rgb(255, 0, 162),
    transparent,
    transparent
  );
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* resposive nav starts here */
@media screen and (max-width: 1160px) {
  .middle {
    display: none;
  }
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 1;
    gap: 20px;
  }
}
@media screen and (max-width: 1160px) {
  .left {
    font-size: 25px;
  }
  .right {
    font-size: 15px;
  }
}
@media screen and (max-width: 587px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 5px 20px;
    height: auto;
    gap: 20px;
  }
  .left {
    width: 100%;
    justify-content: start;
  }
  .right {
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    /* align-items: center; */
    font-size: 20px;
    padding: 0px 20px;
    /* gap: 10px; */
  }
  .right > div:not(.right > div:last-child) {
    display: none;
  }
  .right > div > i {
    display: block;
  }
}
